<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Profile</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/round-about.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
           
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Update Portfolio</h2>
            </div>
            <form method="post" action="doneU.ejs">
                Title of your work: <br>
                <input type="text" name="title"></input> <br> <br>
                URL of your work: <br>
                <input type="url" name="work" required></input> <br> <br>
                <input type="submit" name="update" value="Add"></input>
            </form>

         </div>   

        <hr>

        <footer>
            <div class="row">
               
            </div>
        </footer>

    </div>


</body>

</html>
